.md-grid {
  max-width: 100%;
}

h1 {
  
  font-weight: 700;
  font-weight: 600 !important; /* Fuerza el grosor al máximo (Ultra-Bold) */
  text-align: center;
}

/* Resaltar los títulos H2 (##) */
h2 {
  color: #777;         /* Color Índigo estándar (puedes usar también #4b0082 para índigo oscuro) */
  font-weight: 600 !important; /* Fuerza el grosor al máximo (Ultra-Bold) */
  border-bottom: 3px solid #777; /* Línea inferior a juego con el color índigo */
  padding-bottom: 3px;    /* Espacio entre el texto y la línea */
  margin-top: 33px;       /* Espacio superior para separar del párrafo anterior */
}

/* Resaltar los títulos H3 (###) */
h3 {
  color: #777;       /* Color naranja para contrastar */
  font-weight: 600 !important; /* Fuerza el grosor al máximo (Ultra-Bold) */
  margin-top: 22px;
}

.md-typeset p {
  text-align: justify;
}